#input {
	position : absolute;
    top      : 50;
    left     : 0;
    height   : 100%;
    width    : 45%;    
    overflow : auto;
    margin   : 25px;
}
#output {
	position : absolute;
    top      : 50;
    right    : 0;
    height   : 100%;
    width    : 45%;
    overflow : auto;
    margin   : 25px;
}