/* Wireframe */
/*
* {
    border: 1px solid red !important;
}
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

footer {
    background-color: #dedede;
    color: #4c4c4c;
    align-self: flex-end;
    padding: 32px;
    font-size: 16px;
}
main {
    background-color: #cccccc;
    flex: 1;
}

.tile-container {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #273746;
}

.header {
    margin: 0;
    background-color: #4c4c4c;
    color: #dedede;
    width: 100%;
    align-self: flex-start;
    padding-left: 32px;
}

.tile {    
    margin: 16px;
    height: 128px;
    width: 128px;    
    padding: 16px;
}

.link:hover {
    cursor: pointer; 
    cursor: hand;
}

.container {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;    
}

.row {
    width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.shadow-under {
    -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.3);
}

.shadow-card {
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.3);
}

.shadow-inset {
    -webkit-box-shadow: inset 0px 110px 16px -100px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 110px 16px -100px rgba(0,0,0,0.3);
    box-shadow: inset 0px 110px 16px -100px rgba(0,0,0,0.3);
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

/* material.io colors */
.light-green {
    background-color: #8BC34A;    
    color: #dedede;
}

.blue {
    background-color: #2196F3;
    color: #dedede;
}

.dark-grey {
    background-color: #4c4c4c;
    color: #dedede;
}