<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"    content="Demo JSFiddle">
    <meta name="keywords"       content="HTML,CSS,JavaScript">
    <meta name="author"         content="Daniel Lin">
    <meta name="viewport"       content="width=device-width, initial-scale=1">

    <title>fiddle</title>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="./fiddle.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body class="container">

    <header class="header shadow-card">  
        <h1><a href="../../index.html">danlin604</a></h1>        
    </header>

    <main role="main" class="shadow-inset">
        <div id="content">
            <!-- card -->
            <div id="card">
                <!-- content header -->
                <div id="card-header">
                    <p>Write and run your own JavaScript code!</p>
                    <button id="run" onclick="runCode()">Run Code</button>
                </div>
                <!-- src code -->
                <textarea name="src" id="src">console.log('howdy!')</textarea>
                <!-- console -->
                <textarea name="console" id="console"></textarea>            
            </div>
        </div>
    </main>

    <footer class="row shadow-inset">
        <a href="https://github.com/danlin604">github</a>
    </footer>

    <script src="./fiddle.js"></script>
</body>
</html>