/* base */

html, body {
    position: absolute;
    top: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    /* color:rgba(0,0,0,0.87); */

    background-color: rgba(240,240,240,0.87);
    /* background-color: rgba(0,0,0,1); */
}

header {
  color: rgba(100,100,100,0.87);
  box-shadow: 0 8px 4px -2px rgba(200,200,200,0.87);
  border-bottom: thin rgba(200,200,200,0.87);
  border-bottom-style: solid;
}
header a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */  
}
h1 { 
  padding-left: 1em;
}



/*  */
#content {
    position: absolute;
    top: 0;
    margin: inherit;
    border: inherit;
    height: 100%;
    width: inherit;
    background-color: inherit;
}

/* space */
#window {
  background-color: rgba(0,0,0,1); 
  position: relative;
  margin: 3em auto;
  height: 40%;
  width: 80%;
  z-index: 0;
  overflow: hidden;

  color: rgba(100,100,100,0.87);
  box-shadow: 4px 4px 4px 2px rgba(160,160,160,0.87);  
}
