<!doctype html>
<html lang="en">
<head>
	<title>HTML5 template</title>

	<meta charset="utf-8">	
	<meta name="description" 	content="template description">
	<meta name="keywords" 		content="HTML,CSS,JavaScript">
	<meta name="author" 		content="Daniel Lin">
	<meta name="viewport"		content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link rel="stylesheet" href="./styles.css">
</head>

<body>
  <!-- content -->
  <div id="content">

    <!-- header -->
    <header>
      <a href="../../index.html"><h1>Vancouverite</h1></a>   
    </header>    


  </div>	

<script src="./vancouverite.js"></script>
</body>
</html>