<dom-module id="fiddle-element">
    <template>
        <!-- scoped CSS for this element -->
        <style>

            .card-container {
                color: #4c4c4c;
                margin-top: 32px;
                margin-bottom: 32px;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }

            textarea {
                border: 0;
                height: 400px;
                width: 100%;
                overflow: auto;
                background-color: #272822;
                color: #F8F8F2;
                font-family: 'Consolas', 'Courier New', 'monospace';

                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;

                resize: none;
            }

            #card {
                color: rgba(100, 100, 100, 0.87);
                margin-left: auto;
                margin-right: auto;
                margin-top: 2em;
                margin-bottom: 2em;
                padding: 0.5em;
                border: 0;
                width: 90%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.87);
                box-shadow: 4px 4px 4px 2px rgba(160, 160, 160, 0.87);
            }

            button {
                background-color: #4c4c4c;
                /* Green */
                border: none;
                color: #fff;
                padding: 0.5em 1em;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }
            button:hover {
                cursor: pointer; 
                cursor: hand;
            }

            #console {
                margin: 0;
                padding: 0;
                border: 0;
                color: #FFFFFF;

                background-color: #000000;
                height: 200px;
                width: 100%;
            }

            .shadow-card {
                -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.3);
                box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.3);
            }

        </style>

        <!-- card -->
        <section class="card-container">
            <button id="run" class="shadow-card" on-click="runCode">Run Code</button>
            <!-- src code -->
            <textarea name="src" class="shadow-card" id="src">/* Write some JavaScript code below! */</textarea>
            <!-- console -->
            <textarea name="console" class="shadow-card" id="console"></textarea>
        </section>
    </template>
    <script>
        class FiddleElement extends Polymer.Element {

            static get is() { return "fiddle-element"; }

            runCode() {
                let logger = this.$.console
                let src = this.$.src.value
                logger.value = ''
                eval(src)
            }

            ready() {
                super.ready();

                let _log = console.log
                let _console = this.$.console

                ;(function () {
                    window.onerror = function (msg, url, lineNo, columnNo, error) {
                        let string = msg.toLowerCase()

                        let message = [
                            'Message: ' + msg,
                            'URL: ' + url,
                            'Line: ' + lineNo,
                            'Column: ' + columnNo,
                            'Error object: ' + JSON.stringify(error)
                        ].join(' - ');

                        print(message)

                        return false // enable error in console 
                    }

                    // print console.log to textarea
                    console.log = function (msg) {
                        print(msg)
                    }

                    // print to textarea
                    function print(msg) {
                        if (typeof msg == 'object') {
                            _console.value += (JSON && JSON.stringify ? JSON.stringify(msg) : msg) + '\n'
                        } else {
                            _console.value += msg + '\n'
                        }
                    }
                })()

                // code syntax dictionary
                const keys = new Map([
                    ['Tab', 'Tab'],
                    ['\'', '\''],
                    ['\"', '\"'],
                    ['(', ')'],
                    ['[', ']'],
                    ['{', '}'], // trailing comma ignored
                ])

                // read textarea input
                this.$.src.addEventListener('keydown', function (e) {
                    if (keys.has(e.key)) {
                        // get caret pos
                        let start = this.selectionStart
                        let end = this.selectionEnd
                        
                        let target = e.target
                        let value = target.value

                        if (e.key === 'Tab') {
                            // set textarea value to: text before caret + tab + text after caret
                            target.value = `${value.substring(0, start)}  ${value.substring(end)}`
                            // put caret at right position again (add one for the tab)
                            this.selectionStart = this.selectionEnd = start + 2
                        } else {
                            target.value = value.substring(0, start) +
                                e.key +
                                keys.get(e.key) +
                                value.substring(end)

                            // put caret at right position again (add one for the tab)
                            this.selectionStart = this.selectionEnd = start + 1
                        }

                        // prevent the focus lose
                        e.preventDefault()
                    }
                }, false)
            }
        }
        customElements.define(FiddleElement.is, FiddleElement);
    </script>
</dom-module>