<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"    content="A Carl Sagan CSS tribute">
    <meta name="keywords"       content="HTML,CSS,JavaScript">
    <meta name="author"         content="Daniel Lin">
    <meta name="viewport"       content="width=device-width, initial-scale=1">

    <title>sagan</title>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="./sagan.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body class="container">

    <header class="header shadow-card">  
        <h1><a href="../../index.html">danlin604</a></h1>        
    </header>

    <main role="main" class="shadow-inset">
        <!-- displays pale blue dot -->
        <div id="window">
            <!-- suspend earth in sunbeam -->
            <div id="sunbeam">

                <!-- contain earth -->
                <div id="earth-box">
                    <!-- earth -->
                    <div id="earth"></div>
                    <!-- info tag for earth -->
                    <dl class="infos fade">
                    <dt>Home</dt>
                    <dd></dd>
                    </dl>
                </div>         

                <!-- vertical sunbeam on earth background -->
                <div id="earth-beam"></div>
            </div>

            <!-- camera lights -->
            <div id="light-box">
                <div class="lightbeam lightbeam-1 lightbeam-blur-4"></div> <!-- red -->
                <div class="lightbeam lightbeam-2 lightbeam-blur-10"></div> <!-- blue -->
                <div class="lightbeam lightbeam-3 lightbeam-blur-10"></div> <!-- green -->
                <div class="lightbeam lightbeam-4 lightbeam-blur-4"></div> <!-- green -->
            </div>

            <!-- transparent saturn overlay -->
            <img id="saturn" src="./saturn.png">
        </div> <!-- window end -->

        <!-- tribute text below window -->
        <div id="tribute-description">
            <p> A tribute to Carl Sagan (1934-1996)</p>
        </div>
    </main>

    <footer class="row shadow-inset">
        <a href="https://github.com/danlin604">github</a>
    </footer>
    
    <!-- autoplay sagan quote, hidden -->
    <audio autoplay>
        <source src="./quote.mp3" type="audio/mp3">
        <!-- <p>Your browser doesn't support HTML5 audio. Here is a <a href="./quote.mp3">link</a> instead.</p> -->
    </audio>
</body>
</html>