<!doctype html>
<html lang="en">
<head>
	<title>HTML5 template</title>

	<meta charset="utf-8">	
	<meta name="description" 	content="template description">
	<meta name="keywords" 		content="HTML,CSS,JavaScript">
	<meta name="author" 		content="Daniel Lin">
	<meta name="viewport"		content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link rel="stylesheet" href="./styles.css">
</head>

<body>
  
  <!-- header -->
  <header>
    <a href="../../index.html"><h1>Pale Blue Dot</h1></a>   
  </header>

  <!-- content -->
  <div id="content">

    <!-- window -->
    <div id="window">

     
      <!-- suspend earth in sunbeam -->
      <div id="earth-box">
        <div id="earth"></div>
        <div id="earth-beam"></div>
      </div>

      <!-- other lights -->
      <div id="light-box">
        <div id="light-beam-1"></div> <!-- red -->
        <div id="light-beam-2"></div> <!-- blue -->
        <div id="light-beam-3"></div> <!-- green -->
        <div id="light-beam-4"></div> <!-- green -->
      </div>


    </div>    

  </div>	

	<script src="./fiddle.js"></script>
</body>
</html>