<!doctype html>
<html lang="en">
<head>
	<title>HTML5 template</title>

	<meta charset="utf-8">	
	<meta name="description" 	content="template description">
	<meta name="keywords" 		content="HTML,CSS,JavaScript">
	<meta name="author" 		content="Daniel Lin">
	<meta name="viewport"		content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../css/styles.css">
	
	<style type="text/css">
		textarea, iframe {
			border: 2px solid #ddd;
			height: 500px;
			width: 100%;	  
		}
	</style>

</head>

<body>
	<h1>Fiddle</h1>
	<p>Write and run your own JavaScript code!</p>
	<button onclick="runCode()">Run Code</button>

	<!-- src code -->
	<textarea name="src" id="src"></textarea>

	<!-- console -->
	<code name="dest" id="dest"></code>

	<script src="../js/fiddle.js"></script>
</body>
</html>