<!doctype html>
<html lang="en">
<head>
	<title>HTML5 template</title>

	<meta charset="utf-8">	
	<meta name="description" 	content="template description">
	<meta name="keywords" 		content="HTML,CSS,JavaScript">
	<meta name="author" 		content="Daniel Lin">
	<meta name="viewport"		content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../css/styles.css">	
</head>

<body>
	<h1>Test</h1>

	<iframe id="input" 			src="../js/populationPeak.js"></iframe>	
	<iframe id="output" 		src="populationPeakResult.html"></iframe>
</body>
</html>